.container {
    position:relative;
    font-size: 0px;
    margin-bottom:20px;
}
.card-container {
    display:inline-block;
    width:20%;
    vertical-align: top;
}
.dropdown-container {
    display:inline-block;
    width:70%;
    vertical-align: top;
}
.total-time-container {
    font-size:24px;
    display: inline-block;
    width: 30%;
    vertical-align: top;
}
.submit-button {
    outline:none;
    display: block;
    cursor: pointer;
    max-width: 208px;
    font-size: 16px;
    font-weight: 700;
    padding: 10px 24px;
    text-align: center;
    border-radius: 2px;
    letter-spacing: .3px;
    margin: 30px auto;
    border: 1px solid #509cde;
    text-transform: capitalize;
    color:#ffffff;
    background-color: #509cde;
    box-shadow: 4px 4px 4px 4px #D3D3D3;
}
.dropdown-header {
    font-size: 20px;
}
.radio-container {
    font-size: 16px;
    padding: 10px 10px 10px 0;
}
.container {
    width:60%;
    margin: 60px auto;
}
.timer-container {
    display: inline-block;
    vertical-align: top;
    width:20%;
    font-size: 20px;
    margin-top:4px;
}
